<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Atmospheric Chemistry Lab{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block css %}{% endblock %}
        <!-- <script src="main.js"></script> -->
    </head>
    <body>
        <nav></nav> 
        <h1>Atmospheric Biogeochemistry Lab</h1>
        {% block content %}{% endblock %}
    </body>
</html>