{% extends "teaching/teaching.html" %}

{% block title %}Teaching | {{ block.super }}{% endblock %}
{% block css %}{% endblock %}

{% block content %}
    {{ block.super }}
    <h1>Teaching</h1>
    {% for year in school_years %}
    <h2>{{ year }}</h2>
        {% for course in courses %}
            {% if course.school_year == year %}
                <!-- <hr> -->
                <p>{{ course.semester_year }} {{ course.semester_season }}  {{ course.course_dept_num }}: {{ course.description }}</p>
            {% endif %}
        {% endfor %}
        <br>
    {% endfor %}
{% endblock %}